body {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    height: 100%;
    background-color: #ccd5ae;
}

.intro {
    text-align: left;
    padding-left: 10em;
    font-size: xx-large;
}

.content {
    text-align: left;
    padding-left: 25em;
}

.avatar {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    float: left;
}

/*@media (max-width:800px) {*/
/*    .intro {*/
/*        text-align: center;*/
/*        font-size: xx-large;*/
/*    }*/

/*    .avatar {*/
/*        display: block;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        width: 200px;*/
/*    }*/
/*}*/
